﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Home">Home</a></li>        
        <li class="breadcrumb-item active">Users</li>
    </ol>
    <h4>Users</h4>

</div>


<div class="panel panel-default">
    <div class="panel-heading">

        <button type="button" class="btn glyphicon glyphicon-plus" id="addnew"></button>
      

    </div>
    <div class="panel-body">

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody id="tbodyRows">
           
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default popovern">
    <div class="panel-heading">
        <h4>Add new user</h4>
    </div>
    <div class="panel-body">
        <form class="ns-content" id="frmUser">
            <div class="form-group" id="frmUserAlert" style="display:none;">

            </div>
        

            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" data-smk-type="email"  class="form-control ns-control" id="txtValue" required  placeholder="Enter Email Id">

            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" data-smk-type="password" class="form-control ns-control" id="txtValue1" required placeholder="Enter Password">

            </div>


            <button type="button" class="btn btn-secondary" id="popcancel">Cancel</button>
            <button type="button" id="btnSaveUser" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

<script>

    $(function () {
        LoadUsers();

        $('#addnew').click(function (e) {
            var offset = $(this).offset();
            var left = e.pageX;
            var top = e.pageY;
            var theHeight = $('.popovern').height();
            var theWidth = $('.popovern').width();
            var stageWidth = $(window).width();
            $('.popovern').removeClass('opposite');
            if (stageWidth - left < theWidth) {
                $('.popovern').css('left', (left - (theWidth) - 30) + 'px');
                $('.popovern').addClass('opposite');
            } else {
                $('.popovern').css('left', (left + 10) + 'px');
            }
            $('.popovern').show();
            $('.popovern').css('top', (top - (theHeight / 2) - 10) + 'px');
        });


        $('#popcancel').click(function (e) {
            $('.popovern').hide();
        });


        $('#btnSaveUser').click(function (e) {

            if ($('#frmUser').smkValidate()) {

                try {

                    ShowLoader();

                    var queryURL = "";
                    var postData;

                    queryURL = GetBaseAddress()+"API/UserApi";
                    postData = {
                       
                        "Email": $('#txtValue').val(),
                        "Password": $('#txtValue1').val()
                      
                    }

                    console.log(JSON.stringify(postData));

                    $.ajax({
                        contentType: 'application/json',
                        method: 'POST',
                        url: queryURL,
                        data: JSON.stringify(postData),
                        success: function (result) {

                            console.log(JSON.stringify(result));
                            if (result.operationStatus == "SUCCESS") {



                                $('.popovern').hide();
                                ClearFields();

                                LoadUsers();
                              
                            }
                            else if (result.operationStatus == "SESSIONOUT") {
                                window.location = GetBaseAddress() + "Account/LogOff";
                            }

                            HideLoader();

                        },
                        error: function (result) {

                            $('#frmUserAlert').html('<div class="alert alert-danger">Could not create</div>');
                            $('#frmUserAlert').show().delay(2000).fadeOut();

                            console.log(JSON.stringify(result));
                            HideLoader();

                        }
                    });

                }
                catch (e) {

                    console.log(e);
                    HideLoader();
                }

            }
            else {

            }


        });

    });

        function LoadUsers() {

        try {



            var queryURL = "";
            queryURL = GetBaseAddress()+"API/UserApi";

            $.ajax({
                contentType: 'application/json',
                method: 'GET',
                url: queryURL,
                data: null,
                success: function (result) {

                    $('#tbodyRows').empty();

                    console.log(JSON.stringify(result));

                    $.each(result, function (i, v) {

                        $('#tbodyRows').append(

                            '<tr>' +
                            '<td> ' + (i + 1) + '</td >' +
                            '<td>' + this.Email + '</td>' +
                            '<td>' +
                            '<button type="button" class="btn glyphicon glyphicon-trash userdelete" data-toggle="confirmation"' +
                            'data-id="' + this.Id + '"' +
                            'data-btn-ok-label="Continue" data-btn-ok-icon="glyphicon glyphicon-share-alt"' +
                            'data-btn-ok-class="btn-success"' +
                            'data-btn-cancel-label="Stop!" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"' +
                            'data-btn-cancel-class="btn-danger"' +
                            'data-title="Are you sure to delete?" data-content="This will delete the user permanently"' +
                            '></button>' +
                            '</td>' +
                            '</tr >'
                        );
                    });

                    var last_clicked_id = null;
                    $('.userdelete').click(function () {
                        // alert($(this).data("id"));
                        last_clicked_id = $(this).data("id");
                    });

                    $('.userdelete').confirmation({

                        onConfirm: function () {

                            //  alert("Confired for id : " + last_clicked_id);

                            DeleteUser(last_clicked_id);


                        }
                    });



                },
                error: function (result) {


                }
            });


        }
        catch (e) {
        }
    }

    function DeleteUser(last_clicked_id) {

        try {
            ShowLoader();
            var queryURL = "";
            var postData;

            queryURL = GetBaseAddress() + "API/UserApi/" + last_clicked_id;
            postData = {

            }

            $.ajax({
                contentType: 'application/json',
                method: 'DELETE',
                url: queryURL,
                data: JSON.stringify(postData),
                success: function (result) {
                    if (result.operationStatus == "SUCCESS"){
                    HideLoader();
                    console.log(JSON.stringify(result));

                    LoadUsers();
                   }
                     else if (result.operationStatus == "SESSIONOUT") {
                    window.location = GetBaseAddress() + "Account/LogOff";
                }

                },
                error: function (result) {

                    HideLoader();

                    console.log(JSON.stringify(result));


                }
            });

        }
        catch (e) {
            HideLoader();

            console.log(e);

        }
        }

    function ClearFields() {

        $('#txtValue').val('');


    }
</script>