﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
        <li class="breadcrumb-item active">Walls</li>
    </ol>
    <h4>Walls</h4>
</div>

<div class="panel panel-default">
    <div class="panel-heading">

        <button type="button" class="btn glyphicon glyphicon-plus" id="addnew" title="Create new Wall"></button>

    </div>

    <div class="panel-body">

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Is Enabled</th>
                </tr>
            </thead>
            <tbody id="tbodyRows">
                @*<tr>
                    <td>1</td>
                    <td><a href="~/Wall/Update/1">MOE Wall</a></td>
                    <td>Hello Instagram</td>
                    <td>MOE Wall details</td>
                </tr>*@


            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default popovern">
    <div class="panel-heading">
        <h4>Create new wall</h4>
     </div>
    <div class="panel-body">
        <form class="ns-content" id="frmWall">
            <div class="form-group" id="frmWallAlert" style="display:none;">

            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Wall name</label>
                <input type="text" autocomplete="off" required data-smk-pattern="[a-zA-Z0-9 ]+" id="txtWallName"
                       title="Only alphabets numbers and spaces" class="form-control ns-control" placeholder="Enter wall name">

            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Title to display</label>
                <input type="text" autocomplete="off" id="txtWallTitle"  data-smk-pattern="[a-zA-Z0-9 ]+" title="Only alphabets numbers and spaces" class="form-control ns-control" placeholder="Enter title">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Details</label>
                <textarea class="form-control ns-control" id="txtDetails" rows="3"></textarea>

            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Refresh Interval</label>
                <input data-smk-type="number"  type="number" id="txtRefreshInterval"  maxlength="5" autocomplete="off" class="form-control ns-control" placeholder="Seconds" required>
            </div>

            <button type="button" class="btn btn-secondary" id="popcancel">Cancel</button>
            <button type="button" id="btnSaveWall" class="btn btn-primary">Save</button>
        </form>
    </div>
    </div>


<script>

    $(function () {

        LoadWalls();
    });

    $('#addnew').click(function (e) {
        var offset = $(this).offset();
        var left = e.pageX;
        var top = e.pageY;
        var theHeight = $('.popovern').height();
        var theWidth = $('.popovern').width();
        var stageWidth = $(window).width();
        $('.popovern').removeClass('opposite');
        if (stageWidth - left < theWidth) {
            $('.popovern').css('left', (left - (theWidth) - 30) + 'px');
            $('.popovern').addClass('opposite');
        } else {
            $('.popovern').css('left', (left + 10) + 'px');
        }
        $('.popovern').show();
        $('.popovern').css('top', (top - (theHeight / 2) - 10) + 'px');
    });

    $('#popcancel').click(function (e) {
        $('.popovern').hide();
    });

    $('#btnSaveWall').click(function (e) {

        if ($('#frmWall').smkValidate()) {
                 

            try {                       

                ShowLoader();

                var queryURL = "";
                var postData;

                queryURL = GetBaseAddress()+"API/WallApi";
                postData = {
                    "Wall_name": $('#txtWallName').val()
                    , "Wall_title": $('#txtWallTitle').val()
                    , "Wall_details": $('#txtDetails').val()
                    , "Wall_refresh_seconds": $('#txtRefreshInterval').val()
                }

                $.ajax({
                    contentType: 'application/json',
                    method: 'POST',
                    url: queryURL,
                    data: JSON.stringify(postData),
                    success: function (result) {

                        console.log(JSON.stringify(result));
                        if (result.operationStatus == "SUCCESS") {



                            $('.popovern').hide();
                            ClearFields();

                            LoadWalls();
                        }
                        else if (result.operationStatus == "SESSIONOUT") {
                            window.location = GetBaseAddress() + "Account/LogOff";
                        }
                               
                        HideLoader();

                    },
                    error: function (result) {

                        $('#frmWallAlert').html('<div class="alert alert-danger">Could not create</div>');
                        $('#frmWallAlert').show().delay(2000).fadeOut();   

                        console.log(JSON.stringify(result));
                        HideLoader();

                    }
                });

            }
            catch (e) {

                console.log(e);
                HideLoader();
            }
                    
        }
        else {
                    
        }

               
    });

    function LoadWalls() {

        try {

            ShowLoader();

            var queryURL = "";
            queryURL = GetBaseAddress()+"API/WallApi";

            $.ajax({
                contentType: 'application/json',
                method: 'GET',
                url: queryURL,
                data: null,
                success: function (result) {

                    $('#tbodyRows').empty();

                   // console.log(JSON.stringify(result));

                    $.each(result, function (i,v) {

                        $('#tbodyRows').append(

                            '<tr>'+
                            '<td>'+(i+1)+'</td>' +
                            '<td><a href="Wall/Update/'+this.Id+'">' + this.Wall_name+'</a></td>' +
                            '<td>' + this.Wall_title+'</td>' +
                            '<td>' + this.IsEnabled +'</td>' + 
                            '</tr>'
                        );
                    });


                    HideLoader();

                },
                error: function (result) {
                    HideLoader();

                }
            });


        }
        catch (e) {
        }
    }

    function ClearFields() {

        $('#txtWallName').val('');
        $('#txtWallTitle').val('');
        $('#txtDetails').val('');
        $('#txtRefreshInterval').val('');
                
    }

</script>
