﻿@using SocialWall.Admin.Models
@model Wall

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
        <li class="breadcrumb-item"><a href="~/Wall">Walls</a></li>
        <li class="breadcrumb-item active">Update</li>
    </ol>
    <h4><label id="lblWallTitle"></label></h4>

</div>

<div class="panel panel-default">
    <div class="panel-heading">
       
        <input type="checkbox"  data-toggle="toggle" data-on="Enabled" data-off="Disabled"
               data-width="100"  id="toggleenabledisable">
      

        <button type="button" class="btn glyphicon glyphicon-trash" id="walldelete"
                style="margin-top:-1px !important;"
               
                data-toggle="confirmation"
        data-btn-ok-label="Continue" data-btn-ok-icon="glyphicon glyphicon-share-alt"
        data-btn-ok-class="btn-success"
        data-btn-cancel-label="Stop!" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
        data-btn-cancel-class="btn-danger"
        data-title="Are you sure to delete?" data-content="This will delete the wall permanently"

                ></button>
        
      

    </div>
    <div class="panel-body">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab1" aria-controls="home" role="tab" data-toggle="tab">Details</a></li>
            <li role="presentation"><a href="#tab2" aria-controls="profile" role="tab" data-toggle="tab">Sources</a></li>
            <li role="presentation"><a href="#tab3" aria-controls="messages" role="tab" data-toggle="tab">Feeds</a></li>
          
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab1">
             
               
                <form class="ns-content" id="frmWall">
                    <div class="form-group" id="frmWallAlert" style="display:none;">
                       
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Wall name</label>
                        <input type="text" autocomplete="off" required data-smk-pattern="[a-zA-Z0-9 ]+" id="txtWallName"
                                title="Only alphabets numbers and spaces" class="form-control ns-control" placeholder="Enter wall name">

                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Title to display</label>
                        <input type="text" autocomplete="off" id="txtWallTitle" data-smk-pattern="[a-zA-Z0-9 ]+" title="Only alphabets numbers and spaces" class="form-control ns-control" placeholder="Enter title">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Details</label>
                        <textarea class="form-control ns-control" id="txtDetails" rows="3"></textarea>

                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Refresh interval</label>
                        <input data-smk-type="number" type="number" id="txtRefreshInterval" maxlength="5" autocomplete="off" class="form-control ns-control" placeholder="Seconds" required>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Embed</label>
                        <input type="text" autocomplete="off" 
                               title="Copy this" class="form-control ns-control" value="http://10.210.1.4:82/SocialWallClient/Wall/Display/@Model.Id" readonly>

                    </div>

                    <button type="button" id="btnSaveWall" class="btn btn-primary">Update</button>
             </form>
               
            </div>
            <div role="tabpanel" class="tab-pane" id="tab2">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <button type="button" class="btn glyphicon glyphicon-plus" id="addnew"></button>
                        <button type="button" class="btn glyphicon glyphicon-refresh" id="btnRefresh"></button>

                    </div>
                    <div class="panel-body">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Source</th>
                                    <th>Action</th>
                                  
                                </tr>
                            </thead>
                            <tbody id="tbodyRows">
                                @*<tr>
                                    <td>1</td>
                                    <td>Instagram<br />
                                    User<br />
                                    VOXCinemas</td>
                                    <td>
                                        <button type="button" class="btn glyphicon glyphicon-trash sourcedelete" data-toggle="confirmation"
                                                 
        data-btn-ok-label="Continue" data-btn-ok-icon="glyphicon glyphicon-share-alt"
        data-btn-ok-class="btn-success"
        data-btn-cancel-label="Stop!" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
        data-btn-cancel-class="btn-danger"
        data-title="Are you sure to delete?" data-content="This will delete the source permanently"
                                                ></button>
                                    </td>
                                   
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>
                                        Instagram<br />
                                        Tag<br />
                                        voxfest
                                    </td>
                                    <td>
                                        <button type="button" class="btn glyphicon glyphicon-trash sourcedelete" data-toggle="confirmation"
                                                data-btn-ok-label="Continue" data-btn-ok-icon="glyphicon glyphicon-share-alt"
                                                data-btn-ok-class="btn-success"
                                                data-btn-cancel-label="Stop!" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
                                                data-btn-cancel-class="btn-danger"
                                                data-title="Are you sure to delete?" data-content="This will delete the source permanently"></button>
                                    </td>

                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default popovern">
                    <div class="panel-heading">
                        <h4>Add new source</h4>
                    </div>
                    <div class="panel-body">
                        <form class="ns-content"  id="frmSource">
                            <div class="form-group" id="frmSourceAlert" style="display:none;">

                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Select social media</label>
                                <select class="form-control" id="ddlSocialMedia">
                                    <option value="Instagram">Instagram</option>                                  
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Select feed type</label>
                                <select class="form-control" id="ddlFeedType">
                                    <option value="User">User</option>
                                    <option value="Tag">Tag</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Value</label>
                                <input type="text" class="form-control ns-control" id="txtValue" required data-smk-pattern="[a-zA-Z0-9 ]+"  placeholder="Enter the value">

                            </div>


                            <button type="button" class="btn btn-secondary" id="popcancel">Cancel</button>
                            <button type="button"  id="btnSaveSource" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="tab3">
                <div class="row" id="feeds">
                    @*<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 ns-social-cube">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                                <img class="ns-feed-profile" src="~/Images/profile.jpg" />
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div>
                                    Abdul Nassar<br />
                                    Abdunnasarkvr
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                                <img class="ns-feed-insta" src="~/Images/instagramicon.png" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <img class="ns-social-img" src="~/Images/sample.jpg" />
                            </div>                           
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                VOX Cinemas Oman The leading cinema in Oman. Dedicated to giving you amazing movie experiences! 🍿📽🎟 voxcinemas.com
                            </div>
                        </div>
                   </div>*@
                 </div>

            </div>
           
        </div>

    </div>
</div>

<script>


    $(function () {


        LoadFeeds();




        //$('#toggleenabledisable').bootstrapToggle();

        $('#toggleenabledisable').change(function () {

           // alert('Toggle: ' + $(this).prop('checked'));

               try {
                    var queryURL = "";
                    var postData;

                    queryURL = GetBaseAddress()+"API/WallApi/@Model.Id";
                    postData = {
                        "IsEnabled": $(this).prop('checked'),
                        "nsvar":"STATUSUPDATE"
                    }

                    $.ajax({
                        contentType: 'application/json',
                        method: 'PUT',
                        url: queryURL,
                        data: JSON.stringify(postData),
                        success: function (result) {
                            if (result.operationStatus == "SUCCESS") {
                               // console.log(JSON.stringify(result));
                            }
                            else if (result.operationStatus == "SESSIONOUT") {
                            window.location = GetBaseAddress() + "Account/LogOff";
                        }
                        },
                        error: function (result) {



                            console.log(JSON.stringify(result));


                        }
                    });

                }
                catch (e) {


                    console.log(e);

                }
        });

        $('#walldelete').confirmation({
            onConfirm: function () {
                ShowLoader();

                 try {

                    var queryURL = "";
                    var postData;

                    queryURL = GetBaseAddress()+"API/WallApi/@Model.Id";
                    postData = {

                    }

                    $.ajax({
                        contentType: 'application/json',
                        method: 'DELETE',
                        url: queryURL,
                        data: JSON.stringify(postData),
                        success: function (result) {

                            HideLoader();
                           // console.log(JSON.stringify(result));

                            if (result.operationStatus == "SUCCESS") {
                                window.location = GetBaseAddress()+"Wall";
                            }
                            else if (result.operationStatus == "SESSIONOUT") {
                                window.location = GetBaseAddress() + "Account/LogOff";
                            }
                        },
                        error: function (result) {

                            HideLoader();

                            console.log(JSON.stringify(result));


                        }
                    });

                }
                catch (e) {
                     HideLoader();

                    console.log(e);

                }

            }
        });

        $('#btnSaveSource').click(function (e) {

            if ($('#frmSource').smkValidate()) {

                try {

                    ShowLoader();

                    var queryURL = "";
                    var postData;

                    queryURL = GetBaseAddress()+"API/SourceApi";
                    postData = {
                        "Wall_id": @Model.Id
                        , "Source_name": $('#txtValue').val()
                        , "Source_type": $('#ddlFeedType').val()
                        , "Source_socialmedia_name": $('#ddlSocialMedia').val()
                    }

                    console.log(JSON.stringify(postData));

                    $.ajax({
                        contentType: 'application/json',
                        method: 'POST',
                        url: queryURL,
                        data: JSON.stringify(postData),
                        success: function (result) {

                         //   console.log(JSON.stringify(result));
                            if (result.operationStatus == "SUCCESS") {



                                $('.popovern').hide();
                                ClearFields();

                                LoadSources();
                                LoadFeeds();
                            }
                            else if (result.operationStatus == "SESSIONOUT") {
                                window.location = GetBaseAddress() + "Account/LogOff";
                            }
                            HideLoader();

                        },
                        error: function (result) {

                            $('#frmSourceAlert').html('<div class="alert alert-danger">Could not create</div>');
                            $('#frmSourceAlert').show().delay(2000).fadeOut();

                            console.log(JSON.stringify(result));
                            HideLoader();

                        }
                    });

                }
                catch (e) {

                    console.log(e);
                    HideLoader();
                }

            }
            else {

            }


        });


        $('#addnew').click(function (e) {
            var offset = $(this).offset();
            var left = e.pageX;
            var top = e.pageY;
            var theHeight = $('.popovern').height();
            var theWidth = $('.popovern').width();
            var stageWidth = $(window).width();
            $('.popovern').removeClass('opposite');
            if (stageWidth - left < theWidth) {
                $('.popovern').css('left', (left - (theWidth) - 30) + 'px');
                $('.popovern').addClass('opposite');
            } else {
                $('.popovern').css('left', (left + 10) + 'px');
            }
            $('.popovern').show();
            $('.popovern').css('top', (top - (theHeight / 2) - 10) + 'px');
        });

        $('#popcancel').click(function (e) {
            $('.popovern').hide();
        });

        $('#btnRefresh').click(function (e) {

            RefreshFeeds();
        });

        $('#btnSaveWall').click(function (e) {

            if ($('#frmWall').smkValidate()) {


                try {

                    ShowLoader();
                    $('#frmWallAlert').empty();

                    var queryURL = "";
                    var postData;

                    queryURL = GetBaseAddress()+"API/WallApi/@Model.Id";
                    postData = {
                        "Wall_name": $('#txtWallName').val()
                        , "Wall_title": $('#txtWallTitle').val()
                        , "Wall_details": $('#txtDetails').val()
                        , "Wall_refresh_seconds": $('#txtRefreshInterval').val()

                    }

                    $.ajax({
                        contentType: 'application/json',
                        method: 'PUT',
                        url: queryURL,
                        data: JSON.stringify(postData),
                        success: function (result) {

                           // console.log(JSON.stringify(result));
                            if (result.operationStatus == "SUCCESS") {

                                $('#frmWallAlert').html('<div class="alert alert-success">Updated</div>');
                                $('#frmWallAlert').show().delay(2000).fadeOut();
                            }
                            else if (result.operationStatus == "SESSIONOUT") {
                                window.location = GetBaseAddress() + "Account/LogOff";
                            }

                            HideLoader();

                        },
                        error: function (result) {

                            $('#frmWallAlert').html('<div class="alert alert-danger">Could not update</div>');
                            $('#frmWallAlert').show().delay(2000).fadeOut();

                            console.log(JSON.stringify(result));
                            HideLoader();

                        }
                    });

                }
                catch (e) {
                    $('#frmWallAlert').html('<div class="alert alert-danger">Something went wrong</div>');
                    $('#frmWallAlert').show().delay(2000).fadeOut();

                    console.log(e);
                    HideLoader();
                }

            }
            else {

            }


        });


        LoadWall();
    });

    function RefreshFeeds() {

        try {

            ShowLoader();

            var queryURL = "";
            queryURL = GetBaseAddress()+"API/SyncApi";

            $.ajax({
                contentType: 'application/json',
                method: 'GET',
                url: queryURL,
                data: null,
                success: function (result) {

                   // console.log(result);
                    LoadFeeds();
                    HideLoader();

                },
                error: function (result) {
                    HideLoader();

                }
            });


        }
        catch (e) {
        }
    }

     function LoadWall() {

        try {

            ShowLoader();

            var queryURL = "";
            queryURL = GetBaseAddress()+"API/WallApi/@Model.Id";

            $.ajax({
                contentType: 'application/json',
                method: 'GET',
                url: queryURL,
                data: null,
                success: function (result) {

                  //  console.log(JSON.stringify(result));

                    $('#txtWallName').val(result.Wall_name);
                    $('#txtWallTitle').val(result.Wall_title);
                    $('#lblWallTitle').text(result.Wall_title);
                    $('#txtDetails').val(result.Wall_details);
                    $('#txtRefreshInterval').val(result.Wall_refresh_seconds);

                    //toggleenabledisable

                    //$("#toggleenabledisable").prop('checked', result.IsEnabled);
                   // $('#toggleenabledisable').bootstrapToggle('on');

                    if (result.IsEnabled) {
                        $('#toggleenabledisable').bootstrapToggle('on');
                    }
                    else {
                        $('#toggleenabledisable').bootstrapToggle('off');
                    }

                    LoadSources();

                    HideLoader();

                },
                error: function (result) {
                    HideLoader();

                }
            });


        }
        catch (e) {
        }
    }

    function LoadSources() {

        try {



            var queryURL = "";
            queryURL = GetBaseAddress()+"API/SourceApi/@Model.Id";

            $.ajax({
                contentType: 'application/json',
                method: 'GET',
                url: queryURL,
                data: null,
                success: function (result) {

                    $('#tbodyRows').empty();

                   // console.log(JSON.stringify(result));

                    $.each(result, function (i, v) {

                        $('#tbodyRows').append(

                            '<tr>' +
                            '<td> ' + (i + 1) + '</td >' +
                            '<td>' + this.Source_socialmedia_name + '<br />' +
                            '' + this.Source_type + '<br />' +
                            '' + this.Source_name + '</td>' +
                            '<td>' +
                            '<button type="button" class="btn glyphicon glyphicon-trash sourcedelete" data-toggle="confirmation"' +
                            'data-id="'+this.Id+'"'+
                            'data-btn-ok-label="Continue" data-btn-ok-icon="glyphicon glyphicon-share-alt"' +
                            'data-btn-ok-class="btn-success"' +
                            'data-btn-cancel-label="Stop!" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"' +
                            'data-btn-cancel-class="btn-danger"' +
                            'data-title="Are you sure to delete?" data-content="This will delete the source permanently"' +
                            '></button>' +
                            '</td>' +
                                '</tr >'
                        );
                    });

                    var last_clicked_id = null;
                    $('.sourcedelete').click(function () {
                       // alert($(this).data("id"));
                        last_clicked_id = $(this).data("id");
                    });

                    $('.sourcedelete').confirmation({

                        onConfirm: function () {

                          //  alert("Confired for id : " + last_clicked_id);

                            DeleteSource(last_clicked_id);


                        }
                    });



                },
                error: function (result) {


                }
            });


        }
        catch (e) {
        }
     }

    function DeleteSource(last_clicked_id) {

        try {
            ShowLoader();
            var queryURL = "";
            var postData;

            queryURL = GetBaseAddress() + "API/SourceApi/" + last_clicked_id;
            postData = {

            }

            $.ajax({
                contentType: 'application/json',
                method: 'DELETE',
                url: queryURL,
                data: JSON.stringify(postData),
                success: function (result) {
                    if (result.operationStatus == "SUCCESS") {
                        HideLoader();
                       // console.log(JSON.stringify(result));

                        LoadSources();
                        LoadFeeds();
                    }
                     else if (result.operationStatus == "SESSIONOUT") {
                    window.location = GetBaseAddress() + "Account/LogOff";
                }

                },
                error: function (result) {

                    HideLoader();

                    console.log(JSON.stringify(result));


                }
            });

        }
        catch (e) {
            HideLoader();

            console.log(e);

        }
    }


    function LoadFeeds() {
     try {





            var queryURL = "";
            queryURL = GetBaseAddress()+"API/FeedApi/@Model.Id";

            $.ajax({
                contentType: 'application/json',
                method: 'GET',
                url: queryURL,
                data: null,
                success: function (result) {

                    $('#feeds').empty();

                   // console.log(JSON.stringify(result));

                    $.each(result, function (i, v) {
                        var checked = "";
                        if (this.IsEnabled) {
                            checked = "checked";
                        }
                        $('#feeds').append(
                            '<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">' +
                            '<div  class="ns-social-cube">' +
                            '<div class="row" >' +
                            '<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">' +
                            '<img class="ns-feed-profile" src="' + this.Social_user_profile_picture+'" />' +
                            '</div>' +
                            '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left:0px;">' +

                            '<span>' + this.Social_user_full_name+'</span><br />' +
                            '<span style="font-size:10px;">' + this.Social_user_username+'</span>' +

                            '</div>' +
                            '<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">' +
                            '<img class="ns-feed-insta" src="http://10.210.1.4:82/SocialWallAdmin/Images/instagramicon.png" />' +
                            '</div>' +
                            '</div >' +
                            '<div class="row">' +
                            '<div class="col-md-12 ns-social-g">' +
                            '<input class="toggleonoff" type="checkbox" data-socl="' + this.Feed_socialmedia_name+'" data-id="' + this.Social_id + '" data-on="Visible" data-off="Hidden" ' + checked+' data-toggle="toggle" ' +

                            '>' +
                            '<div class="feed-data"><span>' + this.Social_likes_count +' Likes'+
                            '</span> <span>' + this.Social_tags_count + ' Tags</span> <span>' + this.Social_comments_count +' Comments</span></div>' +

                            '<img class="ns-social-img" src="' + this.Social_image_low_resolution+'" />' +
                            ' </div>' +
                            '</div>' +
                            '<div class="row">' +
                            '<div class="col-md-12 ns-social-details">' +
                            this.Social_caption_text +
                            '</div>' +
                            ' </div>' +
                            ' </div>' +
                            ' </div>'
                        );

                    });


                    $('.toggleonoff').bootstrapToggle();

                    $('.toggleonoff').change(function () {           

                       try {
                            var queryURL = "";
                            var postData;
                            console.log('SocialMedia:' + $(this).attr("data-socl")+' ,'+'WallId:'+@Model.Id+', FeedId:'+$(this).attr("data-id") + ', IsEnabled:' + $(this).prop('checked'));
                            queryURL = GetBaseAddress()+"API/FeedApi/@Model.Id";
                            postData = {
                                "IsEnabled": $(this).prop('checked'),
                                "Feed_socialmedia_name": $(this).attr("data-socl"),
                                "Feed_source_social_id": $(this).attr("data-id")
                            }

                            $.ajax({
                                contentType: 'application/json',
                                method: 'PUT',
                                url: queryURL,
                                data: JSON.stringify(postData),
                                success: function (result) {

                                    if (result.operationStatus == "SUCCESS") {

                                      //  console.log(JSON.stringify(result));
                                    }
                                    else if (result.operationStatus == "SESSIONOUT") {
                                        window.location = GetBaseAddress() + "Account/LogOff";
                                    }


                                 


                                },
                                error: function (result) {
                                    console.log(JSON.stringify(result));


                                }
                            });

                        }
                        catch (e) {


                            console.log(e);

                        }
                   });

                    


                },
                error: function (result) {


                }
            });


        }
        catch (e) {
        }
    }
    function ClearFields() {

        $('#txtValue').val('');


    }

</script>



