﻿
@{
    ViewBag.Title = "UpdateSource";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
        <li class="breadcrumb-item"><a href="~/Source">Sources</a></li>
        <li class="breadcrumb-item active">Feeds</li>
    </ol>


</div>


<h4>Feeds</h4>
    <div class="panel panel-default">
        <div class="panel-heading"><button type="button" class="btn glyphicon glyphicon-plus"></button></div>
        <div class="panel-body"><table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Feed Type</th>
            <th>Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>User</td>
            <td><a href="Source/Update/1">Abdunnasarkvr</a></td>
            <td><a href="javascript:void(0);">X</a></td>
        </tr>

        <tr>
            <td>2</td>
            <td>Tag</td>
            <td><a href="Source/Update/1">VoxFest</a></td>
            <td><a href="javascript:void(0);">X</a></td>
        </tr>
    </tbody>
</table></div>
    </div>
    



