﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
        <li class="breadcrumb-item active">Sources</li>
    </ol>

</div>
<h4>Sources</h4>
<div class="panel panel-default">
    <div class="panel-heading">
    
     <button type="button" class="btn glyphicon glyphicon-plus"></button>
   
    </div>
    <div class="panel-body">

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Social Media</th>
                    <th>Feed Type</th>
                    <th>Source Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Instagram</td>
                    <td>User</td>
                    <td><a href="~/Source/Feed/1">VoxCinemas</a></td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Instagram</td>
                    <td>Tag</td>                    
                    <td><a href="~/Source/Feed/1">VoxFest</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


