﻿
@{
    ViewBag.Title = "EmailSent";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


<div class="page-header">
    <h3>Email sent !</h3>
</div>


    <div class="row"><div class="col-md-8">
    <h4>Please follow the instructions sent to your email to reset the password</h4>
</div>
</div>

