﻿@using SocialWall.Admin.Models
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}



<div class="page-header">
    <h4>Enter your Email Id to reset password
    </h4>
</div>

@*
    <div class="row">
        <h4>Please follow the instructions sent to your email to reset the password</h4>
    </div>*@

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("ForgotPassword", "Account",  FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                @Html.AntiForgeryToken()



                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger"})
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>



            }
        </section>

        </div>
    </div>
