﻿
@{
    ViewBag.Title = "InvalidToken";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}




<div class="page-header">
    <h3>Invalid Token</h3>
</div>
<div class="row">
    <div class="col-md-8">
        
    </div>

</div>