﻿@using SocialWall.Admin.Models;
@model Alerts

@{
    ViewBag.Title = "Social Wall";
}

@foreach (var item in Model.alertList)
{
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-4">
            <div class="alert alert-warning">
                <strong>@item.alertType !</strong> @item.message
                <a href="javascript:windowpop('@item.actionLink ',600,400);"> @item.actionMessage </a>.
            </div>
        </div>

    </div>
}




<script>
    function windowpop(url, width, height) {
    var leftPosition, topPosition;
    //Allow for borders.
    leftPosition = (window.screen.width / 2) - ((width / 2) + 10);
    //Allow for title and status bars.
    topPosition = (window.screen.height / 2) - ((height / 2) + 50);
    //Open the window.
    window.open(url, "Window2", "status=no,height=" + height + ",width=" + width + ",resizable=yes,left=" + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY=" + topPosition + ",toolbar=no,menubar=no,scrollbars=no,location=no,directories=no");
}
</script>