﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Instagramresp</title>
</head>
<body>
    <div> 
        <button type="button" onclick="javascript: window.close();">Close</button>
    </div>
</body>
</html>
