﻿body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 600px;
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #009fdf;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.container {
    background-color: #009fdf;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-inverse {
    background-color: #009fdf;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
    .navbar-inverse .navbar-toggle {
        color: #ffffff !important;
        border-color: #ffffff !important;
    }


    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #009fdf;
    }
    .navbar-inverse .navbar-toggle {

    }
    
    .ns-content {
        padding-top: 20px;
    }

.ns-feed-profile {
    width:100%;
    height:100%;
}
.ns-feed-insta {
    width: 80%;
    height: 80%;
}
.ns-social-img {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 12px;
}

.ns-social-cube {
    border: solid 1px #dddddd;
    margin-top: 10px;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-bottom: 10px;
}

/*#feeds {
    padding: 5px;
}*/
.ns-social-details {
    margin: 5px;
    height: 100px;
    /*max-height: 100px;*/
    overflow-y: auto;
    width: 94%;
}

.ns-social-g {
height:200px;
}
.ns-social-g .toggle {
    width: 30% !important;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    /*border-radius: 0px;*/
}
.toggle-handle{
    /*border-radius:0px;*/
}
.glyphicon{
    height:33px;
}

.popovern {
    position: absolute;
    display: none;
    background: #fff;
    border: 1px solid #999;
    padding: 10px;
    width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    z-index: 999999;
    margin-top: 50px;
}

    .popovern:after,
    .popovern:before {
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .popovern:after {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #ffffff;
        border-width: 10px;
        top: 50%;
        margin-top: -10px;
    }

    .popovern:before {
        border-color: rgba(201, 201, 201, 0);
        border-right-color: #c9c9c9;
        border-width: 11px;
        top: 50%;
        margin-top: -11px;
    }

    .popovern.opposite:after,
    .popovern.opposite:before {
        right: auto;
        left: 100%;
    }

    .popovern.opposite:after {
        border-color: rgba(255, 255, 255, 0);
        border-left-color: #ffffff;
    }

    .popovern.opposite:before {
        border-color: rgba(201, 201, 201, 0);
        border-left-color: #c9c9c9;
    }


.navbar-inverse {
    border-color: #009fdf !important;
}

.loader-container {
    display: none;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
   
    position: fixed;
    z-index: 999;
    /*height: 2em;
    width: 2em;*/
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form-control{
    height:40px !important;
}
.btn {
    /*font-size: 20px;
    padding: 0px 12px;*/
}


.feed-data {
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    font-size: 12px;
    color: #fff;
    margin-top: 100px;
    margin-left: 12px;
    background-color: #009fdf;
    opacity: 0.6;
}