﻿@using SocialWall.Client.Models
@model Wall
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>



    <meta name="viewport" content="width=device-width" />
    <link rel="icon" sizes="32x32" type="image/png" href="~/Images/favicon-32x32.png" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />

    @*<link href="~/Content/lightslider.css" rel="stylesheet" />
        <script src="~/Scripts/lightslider.js"></script>*@

    <link href="~/Content/slick.css" rel="stylesheet" />
    <script src="~/Scripts/slick.js"></script>

    <title>Social Wall-Display</title>
</head>
<body>

    <div class="ns-container">
        <div class="row display-head"><label id="wall-head">#VOXCinemas</label>

            <img src="~/Images/downarrow.png" />
        </div>

        <div class="row feeds" id="feeds">
            <div class="content-slider" id="content-slider">
                @*<div class="ns-social-cube">
                          <div class="row user-head">
                              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                  <img class="ns-feed-profile" src="~/Images/profile.jpg" />
                              </div>
                              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                  <div>
                                      @@Abdunnasarkvr
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                                  <img class="ns-social-img" src="~/Images/sample.jpg" />
                          </div>
                          <div class="row caption">
                                  VOX Cinemas Oman The leading cinema in Oman. Dedicated to giving you amazing movie experiences! 🍿📽🎟 voxcinemas.com
                          </div>
                    </div>*@


            </div>
        </div>
    </div>







    <script>

        var wallId =@Model.Id;
        var Wall_refresh_seconds = 300;
        var feedList = [];
        var slider;

        $(function(){
            LoadWall();

        });

         function LoadWall() {

         try {
                var queryURL = "";
                queryURL = GetBaseAddress()+"API/WallApi/@Model.Id";

                $.ajax({
                    contentType: 'application/json',
                    method: 'GET',
                    url: queryURL,
                    data: null,
                    success: function (result) {
                       // console.log(JSON.stringify(result));
                        if (result.operationStatus == 'SUCCESS') {

                            Wall_refresh_seconds = result.data.Wall_refresh_seconds;
                            feedList = result.data.feedList;

                            $('#wall-head').text('#'+result.data.Wall_title);
                            //add feeds to display

                            if (result.data.IsEnabled) {
                              DisplayFeeds();
                            }
                            else {
                                $('#content-slider').empty();
                            }

                            setTimeout(LoadWall, Wall_refresh_seconds * 1000);
                        }
                        else {

                        }

                        console.log(result.data.Wall_refresh_seconds + ',' + result.data.IsEnabled);

                    },
                    error: function (result) {

                        setTimeout(LoadWall, Wall_refresh_seconds * 1000);
                    }
                });




             }
         catch (e) {
             setTimeout(LoadWall, Wall_refresh_seconds * 1000);
             }
            }

        function DisplayFeeds() {

            $('#content-slider').empty();
           window.scrollTo(0, 0);

            $.each(feedList, function (i, v) {
                $('#content-slider').append(
                    '<div class="ns-social-cube">'+
                    '<div class="row user-head">' +
                    ' <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">' +
                    ' <img class="ns-feed-profile" src="' + this.Social_user_profile_picture+'" />' +
                    '  </div>' +
                    '<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">' +
                    ' <div class="ns-social-user-name">' +
                    '    @@' + this.Social_user_username+'' +
                    ' </div>' +
                    '</div>' +
                    ' <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">' +
                    ' <img class="ns-feed-social" src="' + GetBaseAddress()+'Images/' + this.Feed_socialmedia_name + '.png" />' +
                    '  </div>' +
                    '</div>' +
                    '<div class="row img-social">' +
                    '  <img class="ns-social-img" src="' + this.Social_image_standard_resolution + '" />' +
                    '  </div>' +
                    '<div class="row caption">'
                    + this.Social_caption_text +
                    '</div> ' +
             ' </div>'

                );

            });

          


            //if (slider) {
            //    slider.destroy();
            //}

            //slider = $("#lightSlider").lightSlider({
            //    loop: true,
            //    keyPress: false,
            //    vertical: true,
            //    auto: true,
            //    //item: 4,
            //    pager: false,
            //    prevHtml: '',
            //    nextHtml: '',
            //     pause: 500
            //});

            //slider = $('#content-slider').lightSlider({
            //    keyPress: false,

            //    loop: true,
            //    auto: true,
            //    vertical: true,
            //    pause: 8000,
            //    speed: 3000, //ms'
            //    onSliderLoad: function () {
            //        $('#content-slider').removeClass('cS-hidden');
            //    }
            //});


            if (slider) {
                $('#content-slider').slick('unslick');
            }
            slider =   $('#content-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                swipeToSlide: true,
                vertical: true,
                verticalSwiping: true,
                initialSlide: 0,
                infinite: true,
                touchMove: false,
                draggable: false,
                focusOnSelect: false,
                centerMode: true,
                arrows: false,
                autoplay: true,
                useCSS: true,
                speed:3000
            });
        }

         function GetBaseAddress() {

            // return 'http://10.210.1.4:82/SocialWallClient/';
             return 'http://10.210.2.66/SocialWallClient/';

         }






    </script>


    <script>
         $(document).ready(function () {
             //$("#feeds").lightSlider({
             //    loop: true,
             //    keyPress: true,
             //    vertical: true,
             //    auto: true
             //});
             //$('#image-gallery').lightSlider({
             //    gallery: true,
             //    item: 1,
             //    thumbItem: 9,
             //    slideMargin: 0,
             //    speed: 500,
             //    auto: true,
             //    loop: true,
             //    onSliderLoad: function () {
             //        $('#image-gallery').removeClass('cS-hidden');
             //    }
             //});
         });
    </script>


</body>
</html>
