﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" sizes="32x32" type="image/png" href="~/Images/favicon-32x32.png" />
    <title>Index</title>
</head>
<body>
    <div> 
    </div>


</body>
</html>
