﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" sizes="32x32" type="image/png" href="~/Images/favicon-32x32.png" />
    <title>@ViewBag.Title - Social Wall</title>
   
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

      
    <script src="~/Scripts/respond.js"></script>
    
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @*@Scripts.Render("~/bundles/jquery")*@

    <script src="~/Scripts/bootstrap-toggle.min.js"></script>
    <script src="~/Scripts/bootstrap-confirmation.min.js"></script>
    @*<script src="~/Scripts/jquery-validate.bootstrap-tooltip.js"></script>*@

    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@

    <link href="~/Scripts/smoke-v3.1.1/css/smoke.css" rel="stylesheet" />

    <script src="~/Scripts/smoke-v3.1.1/js/smoke.js"></script>

    <script>
        function GetBaseAddress() {

            return 'http://10.210.2.66/SocialWallAdmin/';

        }
    </script>
    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" >
        
    
        @Html.ActionLink("VOX Social Wall", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
       
       
 
        
        
   

    </div>


    

    <div id="main">      
       
        <div class="container-fluid body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - VOX Cinemas</p>
            </footer>
        </div>
    </div>



  

    

</body>
</html>
