﻿
@font-face {
    font-family: 'Effra';
    src: url("../fonts/Effra_W_Rg.eot");
    src: url("../fonts/Effra_W_Rg.eot?#Effra_W_Rg") format("embedded-opentype"),url("../fonts/Effra_W_Rg.woff") format("woff"),url("../fonts/Effra_Rg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Effra';
    src: url("../fonts/Effra_W_Bd.eot");
    src: url("../fonts/Effra_W_Bd.eot?#Effra_W_Bd") format("embedded-opentype"),url("../fonts/Effra_W_Bd.woff") format("woff"),url("../fonts/Effra_Bd.ttf") format("truetype");
    font-weight: bold;
    font-style: normal

}

html, body {
    overflow-y: hidden;
}
body {
    overflow-x: hidden;
    background-color: #000;
    background-image: url('../Images/background.png');
    font-family: Effra, Tahoma, Arial, Helvetica, sans-serif;
}

.ns-container {
    height:auto;
    overflow:hidden;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*padding-top: 30px;*/
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.display-head {
    /* background-color: #dddddd; */
    /* height: 100px; */
    color: #fff;
    /* font-style: italic; */
    font-size: 95pt;
    text-align: center;
    padding-top: 10px;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.display-head label {
 
    width: 100%;
}

    .display-head img {
        margin-top: -200px;
    }


.ns-social-cube {

    background-color: #fff;
    color: #000;
   
    height: auto !important;
    margin: 34px;
   
    border-radius: 30px;
}

.ns-feed-profile {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: solid 5px #e21566;
}
.ns-feed-social {
    width: 70%;
    height: 70%;
    
}
.ns-feed-insta {
    width: 50%;
    height: 50%;
}

.ns-social-user-name {
    margin-top: 12px;
    font-weight: bold;
    margin-left: -40px;
}
.ns-social-img {
    width: 100%;
    height: 100%;
    /* padding: 5px; */
    /* border-radius: 12px; */
    object-fit: cover;
    border-radius: 30px 30px 0px 0px;
    margin-top: -1px;
}

.feeds {
    
    padding-top: 260px;
}

.feed-footer {
    padding-top: 15px;
}

.feed-text {
    font-size: 16px;
}


.row {
    margin-left: 0px;
    margin-right: 0px;
}

.caption {
    font-size: 40px;
  
    overflow: hidden;
    text-align: left;
    /* padding-top: 20px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* padding-bottom: 10px; */
    padding: 40px;
}

.user-head {
    height: 150px;
    position: absolute;
    width: 95%;
    padding: 20px;
    border-radius: 30px 30px 0px 0px;
    font-size: 50px;
    background-image: url(../Images/userheadbg.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-social{
  
    height:auto;
}


.slick-list {
    height: auto !important;
}
